* {
    margin: 0;
    padding: 0;
   }

.container {
    width: 1280px;
    margin: 0 auto;
     font-family: "Arial";
}

.main-header {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    background-color: #445162;
}

.main-header:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.main-header-wrapper {
    float: left;
}

.main-header-title {
    margin: 0 0 51px 0;
    color: white;
    font-size: 60px;
    font-weight: 400;
    height: 44px;
}

.main-header-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.main-header-list_item {
    padding: 0 0 0 36px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    position: relative;
}

.main-header-list_item:before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    background-image: url(check_icon.png);
    background-size: cover;
    position: absolute;
    top: 7px;
    left: 6px;
}

.main-header-photo {
    width: 469px;
    height: 214px;
    display: block;
    background-color: #fff;
    float: right;
}

.about-product{
    width: 100%;
    background-color: white;
}

.about-product:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.about-product-wrapper {
    float: left;
    width: 50.7%;
}

.about-product_title {
    color: #445161;
font-size: 30px;
font-weight: 400;
line-height: 36px;
    padding-top: 49px;
    padding-left: 50px;
}

.about-product_p1 {
margin-top: 30px;
    margin-left: 50px;
color: #333333;
font-size: 16px;
font-weight: 400;
line-height: 24px;
}

.about-product_p2 {
margin-top: 20px;
margin-left: 50px;
color: #333333;
font-size: 16px;
font-weight: 400;
line-height: 24px;
}

.about-product_video{
    float: right;
    width: 430px;
    height: 245px;
    background-color: #445161;
    margin-top: 50px;
    margin-right: 50px;
}

.dignity{
    width: 100%;
    background-color: #f5f5f5;
    margin-top: 38px;
}

.dignity:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.dignity-title {
color: #445161;
font-size: 30px;
font-weight: 400;
line-height: 36px;
margin-left: 464px;
padding-top: 45px;
}

.dignity-wrapper_left {
    float: left;
    margin-top: 29px;
    width: 44.2%;
    margin-left: 56px;
}

.dignity-wrapper_right {
    float: right;
    margin-top: 29px;
    width: 44.2%;
    margin-bottom: 51px;
    padding-right: 73px;
}

summary::-webkit-details-marker {
  display: none;
}

summary::before {
  background-image: url(Shape_3.png);
  float: left; 
  height: 20px;
  width: 20px;
background-color: #445161;
  content: url(Layer_2.png);
margin-right: 9px;
}


.dignity-summary {
font-size: 16px;
font-weight: 400;
line-height: 24px;

}

.dignity-summary2 {
font-size: 16px;
font-weight: 400;
line-height: 24px;
    margin-top: 35px;
}


